*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* common classes */
.container{
    max-width: 1430px;
    margin: auto;
    /* border: 2px solid black; */
}
.common-btn{
    background-color: #1D4ED8;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.nav-container-parent{
    padding: 15px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:2px solid #1D4ED8; */
}
.nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
}
.nav-link a{
    text-decoration: none;
    color: #575757;
}
.hero{
    /* border:2px solid #1D4ED8; */
    background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/banner.jpg');
    color: #FFFFFF;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-content{
    text-align: center;
    gap: 20px;
}
.hero-content h1{
    margin-bottom: 20px;
    font-size: 65px;
    font-weight: bold;
}
.hero-content p{
    width: 700px;
    font-weight: 300;
    margin-bottom: 20px;
}
.hero-content button{
    padding: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 200px;
}